<!DOCTYPE html>
<html ng-app="weatherApp">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Weather App</title>
		<!-- CSS -->
		<link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="./bower_components/angular-c3/dist/c3-chart.css">
		<link rel="stylesheet" href="./assets/css/main.css">
	</head>
	<body ng-controller="ChartController">		
		<div class="container">

			<header>
				<h1 ng-cloak>Weather for {{selectedCity.name}}</h1>
			</header>

			<div class="row">
				<div class="col-md-9" id="temp-chart">
					<h3>5-Day Temperature Forecast</h3>
					<c3-chart id="tempChart" config="tempConfig"></c3-chart>
				</div>
				<div class="col-md-3" id="press-chart">
					<h3>Average Pressure</h3>
					<br><br>
					<c3-chart id="pressChart" config="pressConfig"></c3-chart>
				</div>
			</div>

			<h4>Filter by Canadian city:</h4>
			<input class="form-control" type="text" ng-model="searchCity" placeholder="Start typing a city name...">

			<br />

			<div ng-show="searchCity.length">
				<h5>City Results</h5>
				<ul class="list-group">
					<li class="list-group-item" ng-repeat="city in cityList | filter: searchCity | orderBy: 'name'" ng-click="refreshWeatherData(city.name)">
						{{city.name}}
					</li>
				</ul>
			</div>

		</div>

		<div id="credit">
			Designed by Andrew Appleby - 
			<a href="https://github.com/applebya/WeatherApp">View source on Github</a>
		</div>

		<!-- Libraries -->	
		<script src="./node_modules/angular/angular.js"></script>
		<script src="./bower_components/angular-c3/dist/c3-chart.js"></script>	
		<script src="./node_modules/jquery/dist/jquery.min.js"></script>
		<script src="./node_modules/underscore/underscore-min.js"></script>
		<script src="./node_modules/moment/min/moment.min.js"></script>
		<script src="./node_modules/bootstrap/dist/js/bootstrap.min.js"></script>		
		<!-- Custom -->
		<script src="./app/main.js"></script>
	</body>
</html>