body { 
	background: url(../img/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	padding-bottom: 35px;
}

h1 {
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
}

h1,h2,h3,h4,h5,label {
	color: #fff;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

#tempChart {
	background: rgba(255,255,255,0.15);
	border-radius: 15px;
}

.list-group {
	opacity: 0.75;
	color: #000;
	padding: 15px 0;
}

.list-group-item:hover {
	background: #eee;

}

h3 {
	text-align: center;
}

#credit {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	text-align: center;
	background: rgba(255,255,255,0.75);
	padding: 15px;
	font-weight: 300;
	font-size: 14px;
}